{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        {% if next_param %}
            <input type="hidden" name="next" value={{ next_param }}>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Войти">
    </form>
    <hr>
    <a href="{% url 'auth:register' %}" class="btn btn-link">Регистрация</a><br>
    <a  class="btn btn-link" href="{% url 'social:begin' 'vk-oauth2'%}?next=/">Вход через VK</a><br>

{% endblock %}